.app-header {
  height: 60px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: rgb(227, 224, 224) 1px 3px 6px;
}

.app-header .logo {
  margin-right: 30px;
  font-size: 20px;
  font-weight: 800;
  color: #ff0068;
}

.app-header nav {
  height: 60px;
  display: flex;
}

.app-header nav a {
  margin-right: 10px;
  cursor: pointer;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 14px;
  position: relative;
}

.app-header nav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 5px;
  bottom: 0;
  background: #ff0068;
}

.app-header nav a:last-child {
  margin-right: 0px;
}

.app-header nav a:hover {
  background: #ffdcea;
}
